s-wmos-api/src/main/resources/api/dataTypes/post_xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test_payload" type="test_payloadType"/>
  <xs:complexType name="test_payloadType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="address"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>